#divOG{
    border: 1px solid black;
    margin: 10px;
    position: static;
    /* position: absolute; */
    position: relative;
    position: sticky;
    left: -20px;
    down: 10px;
}
#div1{
    /* height: 100px;
    width: 500px; */
    border: 1px solid black;
    position: fixed;
    left: 0;
    bottom: -51px;
    /* overflow: scroll; */
    margin: 5px;
}