.container{
    display: flex;
    flex-direction: row-reverse;
    flex-flow: row;
    flex-wrap: wrap;
}
.box{
    border: 1px solid black;
    margin: 10px;
    background-color: brown;
    color: chartreuse;
    height: 100px;
    width: 100px;
}